.DS_Store
.idea
.vscode
*.vcd
runs
src/sim_build
src/__pycache__/
src/results.xml
src/user_config.tcl
test/cordic/sim_build
test/cordic/__pycache__/
test/cordic/results.xml
test/cordic/user_config.tcl
test/triangle/sim_build
test/triangle/__pycache__/
test/triangle/results.xml
test/triangle/user_config.tcl
test/spi/sim_build
test/spi/__pycache__/
test/spi/results.xml
test/spi/user_config.tcl
test/strobe/sim_build
test/strobe/__pycache__/
test/strobe/results.xml
test/strobe/user_config.tcl
